<section class="fondo">
<div class="presentacion">
    <article class="presentacion__info">
        `<h1 class="animated-text" ><strong>Fac</strong>Nan <strong>Tech</strong>nology</h1>
    </article>
    <div class="imagen__logo ">
        <img class="imagen-desvanecimiento imagen-animada" src="./assets/img/astronauta-sentado-planeta-agitando-mano-dibujos-animados-vector-icono-ilustracion-concepto-icono-tecnologia-ciencia-aislado-vector-premium-estilo-dibujos-animados-pl.png" alt="">
    </div>
</div>
</section>