<section class="body" id="sobreNosotros">

    <div class="sobre__nosotros">
        <article class="sobre__nosotros-img">
            <img class="imagen-desvanecimiento luna " src="./assets/img/astronauta-luna.png" alt="">

            <img width="200px"id="estrella"src="./assets/img/Estrella.png" alt="">

        </article>
        <article class="sobre__nosotros-info">
            <h1>FacNan Computer tu lugar</h1>
            <p>Somos una miniempresa de tecnologia que desarrollamos diversas soluciones tecnologicas para tu negocio. Los avances tecnologicos informaticos son el futuro del mercado y negocio no puede estar fuera del nuevo mundo </p>
        </article>

    </div>


</section>
