:root {
    --azul: #337FFF;
    --plateado: #DEE0E3;
}


* {
    list-style: none;
    text-decoration: none;
    padding: 0px;
    margin: 0px;
}

body {
    background-color: var(--plateado);
    position: relative;
    width:100%;
    padding:0px;
    margin: 0px;
}

.inicio{
    display:flex;
    padding:5px;
    align-items: center ;
}

.encabezado {
    background-color: var(--plateado);
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    border: solid 1px black;
}

.encabezado__lista {
    padding: 10px;
    display:flex;
    justify-content: space-between;
    width:100%;
    
}

.encabezado__listado {
    padding: 1px;
    display:flex;
}

.encabezado__listado-item {
    padding: 5px;
    margin: 5px;;
    display: flex;
    cursor:pointer;
}
a{
    color:black;
    font-weight: bold;
}

i,
p {
    margin: 1px;
    cursor: pointer;
}

p:hover {
font-weight: bold;
}

li:hover{
    font-weight: bold;
    border-bottom:1px solid;
    border-right:1px solid;
    padding:5px;
}



  
