<section class="encabezado">
    <nav class="encabezado__lista">
        <div class="inicio">
            <i class="fa-solid fa-house"></i>
            <p><a routerLink="inicio">Inicio</a> </p>
        </div>
        <ul class="encabezado__listado">
            <li class="encabezado__listado-item"><a routerLink="sobre_nosotros"> Sobre Nosotros</a></li>
            <li class="encabezado__listado-item"><a routerLink="proyectos"> Proyectos</a></li>
            <li class="encabezado__listado-item">Contactos</li>
            <li class="encabezado__listado-item">Footer</li>

        </ul>
    </nav>

</section>
